XorPEEnCrypt/bin/Debug/TEST.exe
XorPEEnCrypt/bin/Debug/XorPEEnCrypt.exe
XorPEEnCrypt/bin/Debug/XorPEEnCrypt.pdb
XorPEEnCrypt/bin/Debug/XorPEEnCrypt.vshost.exe
XorPEEnCrypt/bin/Debug/XorPEEnCrypt.vshost.exe.manifest
XorPEEnCrypt/bin/TEST.exe
XorPEEnCrypt/obj/Debug/DesignTimeResolveAssemblyReferences.cache
XorPEEnCrypt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XorPEEnCrypt/obj/Debug/XorPEEnCrypt.Form1.resources
XorPEEnCrypt/obj/Debug/XorPEEnCrypt.Properties.Resources.resources
XorPEEnCrypt/obj/Debug/XorPEEnCrypt.csproj.FileListAbsolute.txt
XorPEEnCrypt/obj/Debug/XorPEEnCrypt.csproj.GenerateResource.Cache
XorPEEnCrypt/obj/Debug/XorPEEnCrypt.csprojResolveAssemblyReference.cache
XorPEEnCrypt/obj/Debug/XorPEEnCrypt.exe
XorPEEnCrypt/obj/Debug/XorPEEnCrypt.pdb
